* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.Page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  position: fixed;
  height: 40px;
  width: 100%;
  background: lightcoral;
  z-index: 20;
}

.Main {
  margin-top: 40px;
  flex: 1;
}

/*/ page content /*/

.ApplicationPage {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 40px);
}

.Sidebar {
  background: lightblue;
  max-width: 250px;
  /*height: calc(100vh - 40px);*/
  padding: 5px;
  border-right: 1px #dcdcdc solid;
  overflow: auto;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*height: calc(100vh - 40px);*/
  padding: 10px;
  overflow: auto;
  background: lightgoldenrodyellow;
}

.Navigation {
  background: lightgreen;
  max-width: 250px;
  height: calc(100vh - 40px);
  padding: 5px;
  border-left: 1px #dcdcdc solid;
  overflow: auto;
  /* own styles*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Link {
  cursor: pointer;
}

.Link:hover {
  opacity: 0.7;
}

.ActiveLink {
  color: blue;
}

.Section {
  min-height: 900px;
  padding: 15px;
  border: 1px solid #ddd;
}